src/main/mule/yoditeproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5d513411-a196-4583-a424-e5e406156c99" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="yoditeprojectFlow" doc:id="197c6a71-fe2f-4353-bf18-efb31dee9b02" >
		<http:listener doc:name="Listener" doc:id="47be405d-6ba6-451d-ac57-b367c3514f48" config-ref="HTTP_Listener_config" path="\hellow"/>
		<set-payload value="#[yodit]" doc:name="Set Payload" doc:id="21132883-73fd-497c-ae34-2925958ad268" />
	</flow>
</mule>
